
CDStudy.xcodeproj/project.xcworkspace/xcuserdata/robin.xcuserdatad/UserInterfaceState.xcuserstate

CDStudy.xcodeproj/xcuserdata/robin.xcuserdatad/xcschemes/CDStudy.xcscheme

CDStudy.xcodeproj/xcuserdata/robin.xcuserdatad/xcschemes/xcschememanagement.plist
